.App {
    text-align: center;
}
* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.app-container {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdphRaCeIYcR4aXZINrAo8vBcoJ4L9GFjMFEwM7pt76GgViIvFJc25-amWyS6yc7K81P8&usqp=CAU');
    background-size: cover;
    margin: 0;
  padding: 0;
  height: 100vh;
overflow-x: hidden;
    /* Additional styles if needed */
}
.random {
    font-weight: 700;
    font-size: 45px;
    border-radius: 8px;
    border: 0.5px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 4px 8px;
    width: 100vw;
    margin: 20px auto;
    color: rgb(20, 80, 80);

}

input[type="text"] {
    padding: 8px 12px;
    font-weight: 600;
    font-size: 35px;
    width: 40vw;
    border-radius: 8px;
    border: 0.5px solid #ccc;
    margin-bottom: 40px;

}
input[type="text"]:focus {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

table {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0.5px solid #ccc;
    border-radius: 8px;
    padding: 8px 12px;
    width: 40vw;
    margin: 20px auto;
}

th {
    padding: 8px 12px;
    border: 0.5px solid #ccc;
    border-radius: 8px;
    background-color: rgb(60, 125, 125);
}

td {
    padding: 8px 12px;
    border: 0.5px solid #ccc;
    border-radius: 8px;
}
